apiVersion: v1
kind: Service
metadata:
  name: expense-frontend
  namespace: expense-tracker
spec:
  type: NodePort
  selector:
    app: expense-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
